.d3-chart-axis path {
  stroke-width: 2;
  fill: none;
  stroke:#000000;
  shape-rendering: crispEdges;
}

.line path {
  fill: none;
  stroke-width: 2;
}
.legend-description {
  font-size: 10pt;
  fill: #000000;
  font-family: Arial;
}
